*{
    margin: 0;
    padding: 0;
}

.navbar-brand {
    height: 2.75rem;
    font-size: x-large;
}

.navbar {
    font-weight: 500;
    background-color: black;
    height: 5rem;
    z-index: 2;
}

.nav-item {
    padding: 4px;
    font-size: large;
    background-color: black;
    z-index: 2;
}   

body {
    background-color: rgb(5, 5, 19);
    color: white;
}


.carousel-inner {
    margin-bottom: 10rem;
    object-fit: cover;
}

.caimg {
    height: 70vh;
}

.skills {
    margin-top: 1rem;
    margin-bottom: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timg {
    width: 8rem;
    height: 8rem;
}

.socials {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20rem;
}

.simg {
    width: 12.5rem;
    height: 12.5rem;
}

.form-text {
    color: white !important;
}